In [1]:
import pandas as pd

data = {'Name': ['Joe', 'Sam', 'Harry'],
        'Age': [20, 30, 22],
        'Marks': [85.10, None, 91]}

df = pd.DataFrame(data)
print(df)

    Name  Age  Marks
0    Joe   20   85.1
1    Sam   30    NaN
2  Harry   22   91.0

In [2]:
import pandas as pd

csv_file = "data.csv"
df_csv = pd.read_csv(csv_file)

print(df_csv)

txt_file = "data.txt"
with open(txt_file, "r") as file:
    txt_content = file.read()

print(txt_content)

temp = "temp.csv"
df_csv.to_csv(temp, index=False)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   22      Chicago
3    David   35      Houston
Name,Age,City
Alice,25,New York
Bob,30,Los Angeles
Charlie,22,Chicago
David,35,Houston

# B - 1

In [4]:
import pandas as pd

data = {'Name': ['Giri', 'Sharan', 'Sharan1', 'Giri1'],
        'Age': [154, 30, 22, 3500]}

df = pd.DataFrame(data)

cfname = 'data1.csv'
df.to_csv(cfname, index=False)

tfname = 'data.txt'
df.to_csv(tfname, index=False, sep='\t')

read_csv_df = pd.read_csv(cfname)

read_txt_df = pd.read_csv(tfname, sep='\t')

print("Data from CSV File:")
print(read_csv_df)

print("\nData from TXT File:")
print(read_txt_df)

new_csv_file_name = 'new_data.csv'
new_txt_file_name = 'new_data.txt'

read_csv_df.to_csv(new_csv_file_name, index=False)
read_txt_df.to_csv(new_txt_file_name, index=False, sep='\t')

Data from CSV File:
         Name   Age
0        Giri   154
1      Sharan    30
2  Sharan - w    22
3    Giri - w  3500

Data from TXT File:
         Name   Age
0        Giri   154
1      Sharan    30
2  Sharan - w    22
3    Giri - w  3500

CSV file 'new_data.csv' saved with the updated data.
TXT file 'new_data.txt' saved with the updated data.

# Drop a col if NaN

In [14]:
import pandas as pd

data = {'Name': ['Joe', 'Sam', 'Harry'],
        'Age': [20, 30, 22],
        'Marks': [85.10, None, 91]
        }

df = pd.DataFrame(data)

df = df.dropna(axis=1, how='any')

new_row = {'Name': 'Mithin', 'Age': 18, 'Marks': 100}
df = pd.concat([df, pd.DataFrame(new_row, index=[0])], ignore_index=True)

index_to_drop = 2
df = df.drop(index_to_drop)

# df = df.dropna(axis=1, how='any')


print(df)

     Name  Age  Marks
0     Joe   20    NaN
1     Sam   30    NaN
3  Mithin   18  100.0